[submodule "backend"]
	path = backend
	url = https://github.com/KomeijiHelper/KomeijiHelper-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/KomeijiHelper/KomeijiHelper-Frontend.git
